:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;

    background-color: #fff;
    background-image: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 75%;

    font-family: 'Inter', sans-serif;

    padding: 1rem 2rem;
}

.container {
    display: flex;
    flex-direction: column;

    height: 100vh;

    align-items: center;
    justify-content: center;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(./images/pattern-bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;
    width: 100%;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-photo {
    animation: slideLeft 1s;

    display: none;
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.24);

    margin-top: 1.6rem;
}

.user-photo.active {
    display: block
}

.buttons{
    display: flex;
    background: #fff;
    border-radius: 50%;
    margin-top: -1.2rem;

    z-index: 1;
}

button {
    border: 0;
    outline: 0;
    background: #fff;
    width: 2.6rem;
    height: 2.5rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

button.previous img {
    width: 23.5%
}

button.next img {
    width: 25%
}

button.previous {
    border-radius: 50% 0 0 50%;
}

button.next {
    border-radius: 0 50% 50% 0;
}

.text {
    animation: slideRight 1s;

    display: none;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
}

.text.active {
    display: flex;
}

.testimonial {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.3;

    background-image: url(./images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top 2vh center;
    background-size: 50px;

    color: var(--dark-blue);

    padding-top: 2rem
}

.container-footer p {
    font-weight: 700;
    font-size: 15px;
    color: var(--dark-blue);

    margin-top: 1rem;
}

.container-footer span {
    font-size: 15px;
    font-weight: 500;
    color: var(--grayish-blue);
}

/* Tablets */
@media (min-width: 768px) {
    body {
        padding: 0 2rem
    }

    .container {
        flex-direction: row-reverse;
    }

    .slider {
        width: 100%;

        background-size: contain;
    }

    .user-photo {
        animation: slideRight 1s;

        width: 80%;
        margin-top: 2rem
    }

    .text {
        animation: slideLeft 1s;

        align-items: flex-start;
        justify-content: center;

        width: 100%;

        padding-top: 0;

        position: relative;
        left: 9.5vw
    }

    .testimonial {
        text-align: left;
    }
}

/* Desktop */
@media (min-width: 1360px) {
    body {
        background-size: 50%;
    }

    .user-photo {
        width: 500px
    }

    .testimonial {
        font-size: 1.8rem;

        background-position: top left 15vh;
        background-size: 80px;
    }

    .container-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 2rem
    }

    .container-footer p {
        font-size: 1.2rem;
        margin-top: 0
    }

    .container-footer span {
        font-size: 1.2rem;
        margin-left: 12px;
    }

    .buttons {
        margin-right: 16rem;
    }
}

@media (min-width: 1440px) {
    body {
        background-size: 50%;
    }

    .user-photo {
        width: 100%;
        margin-top: 3.2rem
    }

    .buttons {
        margin-top: -2rem;
        margin-right: 12rem
    }

    button {
        width: 4rem;
        height: 4rem;
    }

    .testimonial {
        font-size: 2.2rem;

        background-position: top left 11vh;
        background-size: 140px;

        padding-top: 5rem
    }

    .container-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 3rem;
    }

    .container-footer p {
        font-size: 1.5rem;

        margin-top: 0;
        margin-right: 12px
    }

    .container-footer span {
        font-size: 1.5rem;
    }
}

/* Animations */

@keyframes slideRight {
    from {
        transform: translateX(100vh);
    }

    to {
        transform: translateX(0)
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100vh);
    }

    to {
        transform: translateX(0)
    }
}